<div class="coverage txt-align">
    <div class="f0 footer-con-box">
        <div class="n-contus v-top box-siz w33 txt-align-l">
            <img src="img/logo-b.png" alt="" width="204" height="58">
            <div class="fast-list">
                <p>地址：安徽省蚌埠市蚌山区绿地珠峰写字楼B座29层</p>
                <p class="fl-p2">电话：0552-3239999 400-0552-333</p>
                <p>邮箱：admin@sthjnet.com</p>
            </div>
        </div>
        <div class="fast-nav v-top w33 box-siz">
            <div class="fast-tit">
                商务合作
            </div>
            <div class="fast-list">
                <p class="fl-cell">173-5526-6863</p>
                <p class="fl-work">（工作时间：9:00-18:00）</p>
            </div>
        </div>
        <div class="n-code v-top w33 txt-align-r box-siz">
            <div class="code-text">
                关注神通物联网
            </div>
            <div class="code-pic">
                <img src="temp/code.jpg" width="158" height="158" />
            </div>
        </div>
    </div>
</div>
<div class="n-copy txt-align">
    Copyright © 2019 安徽神通物联网科技有限公司 All Rights Reserved. 皖ICP备18018340号-2
</div>