<div>
    <div class="tips-list txt-align">
        <div class="iconfont icon-dianhua fb-phone"></div>
        <div class="iconfont icon-weixin fb-wx"></div>
        <div class="iconfont icon-huojian fb-back"></div>
    </div>
    <div class="fb-phone-pa">
        <div class="fb-phone-pr">
            <div class="fb-bg fb-phone-bg">
                <b class="fb-triangle fb-phone-triangle"></b>
                <div class="fb-phone-call txt-align">服务热线</div>
                <div>0552-3239999</div>
                <div>400-0552-333</div>
            </div>
        </div>
    </div>
    <div class="fb-wx-pa">
        <div class="fb-wx-pr">
            <div class="fb-bg fb-wx-bg">
                <b class="fb-triangle fb-wx-triangle"></b>
                <div class="txt-align">关注神通物联网</div>
                <img src="temp/code.png" alt="">
            </div>
        </div>
    </div>
</div>

<script src="../js/public.js"></script>
