.coo1-box {
    position: relative
}

.coo1-box .left-btn {
    position: absolute;
    left: -7px;
    top: 218px
}

.coo1-box .right-btn {
    position: absolute;
    right: -24px;
    top: 218px
}

.timer-shaft-box {
    width: 100%;
    padding: 30px 40px;
    box-sizing: border-box
}

.timer-shaft {
    position: relative;
    width: 100%;
    height: 80px;
    overflow: hidden
}

.timer-left {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 99;
    width: 27px;
    height: 37px;
    margin-top: -18.5px;
    background: url(../images/lef1.png) no-repeat;
    background-size: cover;
    cursor: pointer
}

.timer-right {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 99;
    width: 27px;
    height: 37px;
    margin-top: -18.5px;
    background: url(../images/rig1.png) no-repeat;
    background-size: cover;
    cursor: pointer
}

.timer-scale {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    padding-left: 80px;
    font-size: 0;
    white-space: nowrap
}

.timer-scale-cont {
    display: inline-block;
    height: 100%;
    line-height: 80px
}

.time-circle {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    color: #333;
    border-radius: 50%;
    transition: all .3s;
    cursor: pointer;
    padding: 0 2px
}

.timer-scale-cont.hov .time-circle {
    color: #1d90db
}

.line-scale {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 2px;
    background-color: #42a2eb
}

.timer-shaft-content {
    width: 100%;
    margin-top: 45px;
    overflow: hidden;
    font-size: 0;
    box-sizing: border-box;
    white-space: nowrap
}

.shaft-detail-cont {
    display: none;
    width: 100%
}

.timer-year {
    padding-left: 20px;
    font-weight: 700;
    color: #333;
    font-size: 0
}

.icon-year {
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 40px;
    background: url(../images/icon_sign.png) no-repeat;
    background-size: cover
}

.timer-year span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 18px;
    font-size: 24px
}

.month-detail-box {
    position: relative;
    width: 100%;
    min-height: 93px;
    padding-top: 30px;
    font-size: 0;
    box-sizing: border-box;
    white-space: normal
}

.month-detail-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 36.5px;
    height: 100%;
    border-right: 1px dashed #1d90db
}

.month-detail-box .month-title {
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    color: #333
}

.month-detail-box .month-title:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 30px;
    width: 13px;
    height: 13px;
    margin-top: -6.5px;
    background: url(../images/icon_circle.png) no-repeat;
    background-size: cover
}

.incident-record {
    display: inline-block;
    padding-left: 71px;
    line-height: 2;
    font-size: 14px;
    color: #333
}

.incident-record a {
    font-size: 14px;
    color: #1d69a3
}

.slogan-li span {
    font-size: 24px;
    border-radius: 50%;
    display: inline-block;
    background: #4690cf;
    padding: 60px 50px;
    line-height: 100%;
    color: #fff
}

.slogan-box {
    padding: 30px 0 60px 0
}

.g-wrap {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px
}

.s_about {
    padding: 0 0 80px 0;
    width: 100%;
    float: left
}

.s_about .n_part1 {
    padding: 110px 0 100px 0;
    font-size: 16px;
    line-height: 25px;
    color: #666
}

.s_about .n_part1 p {
    margin-bottom: 10px
}

.s_about .n_part1 .cn {
    font-size: 22px;
    color: #014099
}

.s_about .n_part1 .en {
    font-size: 22px;
    color: #e6e6e6;
    text-transform: uppercase
}

.s_about .n_part2 {
    background: url('../images/066ab9.png')#066ab9 center/cover no-repeat;
    /* background: #4690cf; */
}

.s_about .n_part2 .cont {
    min-height: 740px;
    position: relative
}

.s_about .n_part2 .cont .s_title {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0)
}

.s_about .n_part2 .cont .s_title .cn {
    font-size: 24px;
    color: #fff
}

.s_about .n_part2 .cont .s_title .en {
    color: #fff
}

.s_about .n_part2 .cont .s_title .en:after,
.s_about .n_part2 .cont .s_title .en:before {
    background: #fff
}

.s_history {
    position: absolute;
    width: 100%;
    /* float: left; */
    top: 45%;
    /* min-height: 300px */
}

.s_history .timelist {
    position: relative
}

.s_history .timelist .swiper-container {
    margin: 0 74px;
    /* height: 65px; */
    height: 70px;
    padding-bottom: 5px
}

.s_history .timelist .swiper-slide {
    width: 175px;
    height: 67px;
    /* background: url(../images/ico101.png) bottom left repeat-x; */
    cursor: pointer;
    position: relative
}

.s_history .timelist .swiper-slide span {
    display: block;
    color: #fff;
    /* text-align: center; */
    font-size: 18px;
    transition: all .3s;
    -webkit-transition: all .3s
}

/* .s_history .timelist .swiper-slide:hover span {
    color: #fff;
    font-size: 24px
} */

.s_history .timelist .swiper-slide:before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    bottom: -12px;
    /* left: 50%; */
    left: 0;
    margin-left: -12px;
    /* background: #3699E8; */
    /* border: 2px solid #066AB9; */
    border-radius: 50%;
    z-index: 10;
    background: url('../img/ttst.png') center no-repeat;

}

/* .s_history .timelist .swiper-slide:nth-child(2n-1):after {
    width: 2px;
    height: 25px;
    position: absolute;
    content: "";
    left: 0;
    margin-left: -1px;
    background: #379FE2;
    bottom: 0;
    z-index: 5
} */

/* .s_history .timelist .swiper-slide:nth-child(2n):after {
    width: 2px;
    height: 25px;
    position: absolute;
    content: "";
    left: 0;
    margin-left: -1px;
    background: red;
    top: 79px;
    z-index: 5
} */
.s_history .timelist .swiper-slide p span{
    position: relative;
}
.s_history .timelist .swiper-slide:nth-child(2n-1) p{
    border-left: 1px solid #379FE2;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 12px;
    z-index: 6;
    width: 215px;
    padding: 10px 10px 47px 10px;
}

.s_history .timelist .swiper-slide:nth-child(2n) p{
    border-left: 1px solid #379FE2;
    color: #fff;
    position: absolute;
    left: 0;
    top: 79px;
    z-index: 6;
    width: 215px;
    padding: 76px 10px 10px 10px;
}

.s_history .timelist .active-nav span {
    /* color: #fff;
    font-size: 24px */
}

.s_history .timelist .active-nav:before,
.timelist .active-nav:after {
    /* background: #fff */
}

.arrow-left {
    background: url(../images/ico102.png)  rgba(255, 255, 255, .1) center no-repeat;
    position: absolute;
    left: 0;
    top: 263px;
    width: 39px;
    height: 97px;
    z-index: 9999;
}

.arrow-left:hover {
    background: url(../images/ico102.png) rgba(255, 255, 255, .2) center no-repeat
}

.arrow-right {
    background: url(../images/ico103.png) rgba(255, 255, 255, .1) center no-repeat;
    position: absolute;
    right: 0;
    top: 263px;
    width: 39px;
    height: 97px;
    z-index: 9999;
}

.arrow-right:hover {
    background: url(../images/ico103.png) rgba(255, 255, 255, .2) center no-repeat
}

.s_history .time_c .swiper-container {
    margin: 74px 100px;
    line-height: 40px
}

.s_history .time_c .swiper-container p {
    position: relative;
    color: #fff;
    padding-left: 40px;
    font-size: 16px
}

.s_history .time_c .swiper-container p:before {
    position: absolute;
    content: "";
    width: 20px;
    left: 0;
    top: 50%;
    height: 1px;
    background: #014099
}

.s_history .time_c .swiper-slide {
    width: 80%;
    min-height: 100px;
    margin: 0 auto
}

.s_team {
    /* padding: 116px 0 126px 0; */
    /* opacity: 0 */
}

.s_team .s_title {
    margin-bottom: 100px;
    display: none
}

.view .swiper-container {
    width: 100%;
    overflow: hidden
}

.view .swiper-container .img {
    width: 45%;
    float: left
}

.view .swiper-container .txt {
    width: 45%;
    float: right
}

.view .swiper-container .txt .title {
    padding: 10px 0
}

.view .swiper-container .txt .title span {
    display: block;
    line-height: 35px
}

.view .swiper-container .txt .title .cn {
    font-size: 24px
}

.view .swiper-container .txt .title .en {
    font-size: 14px;
    color: #666;
    text-transform: uppercase
}

.view .swiper-container .txt .cont {
    margin-top: 14%;
    color: #666;
    line-height: 30px;
    font-size: 16px
}

.view .swiper-container .txt .cont .name {
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 20px
}

.view .swiper-container .txt .cont .name span {
    font-size: 18px;
    display: block;
    line-height: 30px;
    font-weight: 700
}

.view .swiper-container .txt .cont .name span.cn {
    font-size: 16px;
    color: #666;
    font-weight: 400
}

.view .swiper-container .txt .cont .name:after {
    position: absolute;
    content: "";
    width: 36px;
    height: 2px;
    background: #014099;
    left: 0;
    bottom: 0
}

.preview {
    width: 100%;
    position: relative;
    border: 1px solid #ddd;
    padding: 45px 0
}

.preview .swiper-container {
    width: 864px;
    height: 160px;
    margin: 0 auto
}

.preview .swiper-slide {
    width: 216px;
    height: 160px;
    cursor: pointer
}

.preview .swiper-slide .img {
    width: 160px;
    overflow: hidden;
    position: relative;
    margin: 0 auto
}

.preview .swiper-slide .img:after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.preview .swiper-slide img {
    width: 100%
}

.preview .slide6 {
    width: 160px
}

.preview .arrow-left {
    background: url(../images/ico104.png) #4c4c4c center center no-repeat;
    position: absolute;
    left: 80px;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 40px;
    z-index: 10
}

.preview .arrow-left:hover {
    background: url(../images/ico104.png) #0055a8 center center no-repeat
}

.preview .arrow-right {
    background: url(../images/ico105.png) #4c4c4c no-repeat center center;
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 40px;
    z-index: 10
}

.preview .arrow-right:hover {
    background: url(../images/ico105.png) #0055a8 no-repeat center center
}

.preview img {
    padding: 1px
}

.preview .active-nav .img:after {
    background: rgba(0, 0, 0, 0)
}

.preview .active-nav img {
    padding: 0;
    transform: scale(1.2);
    -webkit-transform: scale(1.2)
}

.culture-box-style {
    /* padding: 20px 0 60px 0; */
}
.culture-yj-style{
    background: url('../images/culture_bg.png') #005ca4 center no-repeat;
    width: 100%;
    height: 285px;
}




.s_team{}
.s_team .s_title{margin-bottom:100px; display:none;}
.view .swiper-container {width: 100%; overflow:hidden;}
.view .swiper-container .img{width:45%; float:left;}
.view .swiper-container .txt{width:45%; float:right;}
.view .swiper-container .txt .title{padding:10px 0px;}
.view .swiper-container .txt .title span{display:block;line-height:35px;}
.view .swiper-container .txt .title .cn{ font-size:24px;}
.view .swiper-container .txt .title .en{font-size:14px; color:#666; text-transform:uppercase;}
.view .swiper-container .txt .cont{margin-top:14%; color:#666; line-height:30px;font-size:16px;}
.view .swiper-container .txt .cont .name{padding-bottom:20px; position:relative; margin-bottom:20px;}
.view .swiper-container .txt .cont .name span{font-size:18px; display:block; line-height:30px; font-weight:bold;}
.view .swiper-container .txt .cont .name span.cn{font-size:16px; color:#666; font-weight:normal;}
.view .swiper-container .txt .cont .name:after{position:absolute; content:"";width:36px; height:2px; background:#014099; left:0px; bottom:0px;}
.preview {width: 100%;position: relative; border:1px solid #dddddd; padding:45px 0px;}
.preview .swiper-container {width: 864px;height: 160px;margin:0px auto;}

.preview .swiper-slide {
	width:216px;
	height: 160px;
	cursor:pointer;
	
	
}
.preview .swiper-slide .img{width:160px;overflow:hidden;position:relative;margin:0px auto;}
.preview .swiper-slide .img:after{position:absolute; content:"";background:rgba(0,0,0,0.5); width:100%; height:100%; left:0px; top:0px;}
.preview .swiper-slide img{width:100%;}
.preview .slide6 {
	width: 160px;
}

.preview .arrow-left {
	background: url(../images/ico104.png) #4c4c4c center center no-repeat;
	position: absolute;
	left: 80px;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 40px;
	z-index: 10;
}

.preview .arrow-left:hover{background: url(../images/ico104.png) #0055a8 center center no-repeat;}

.preview .arrow-right {
	background: url(../images/ico105.png) #4c4c4c no-repeat center center ;
	position: absolute;
	right: 80px;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 40px;
	z-index: 10;
}

.preview .arrow-right:hover{background: url(../images/ico105.png) #0055a8 no-repeat center center ;}

.preview img {
	padding: 1px;
}
.preview .active-nav .img:after{background:rgba(0,0,0,0);}
.preview .active-nav img {
	padding: 0;
	transform:scale(1.2); -webkit-transform:scale(1.2);
}
.gsjj-new-imgs{ margin: 11px 0 46px 0;}
.gsjj-new-box{background: #fff;}
.small-triangle{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid #379FE2;
}
.s_history .timelist .swiper-slide:nth-child(2n-1) p .small-triangle{
    left: -1px;
    top: -20px;
}
.s_history .timelist .swiper-slide:nth-child(2n) p .small-triangle{
    left: -1px;
    top: 0;
}
