.news-child-box{padding-top:70px;padding-bottom:40px;width:1140px;margin:0 auto}
.nsc-hed span{font-size:20px}
.nsc-p1{letter-spacing:1px;line-height:1.75em;margin-bottom:20px;margin-top:20px;text-indent:2em}
.nsc-p1 span{font-size:16px}
.nsc-p1 img{display: block;margin: 0 auto;padding: 20px 0;} 
.nsc-p2{color: #1b90db;font-size:16px}
.nsc-p2 span{}
